/**********GENERAL*********/
html,body{
margin:0px;
height:100%;
}
body{margin-top: 0px;}
.bushido_bg {background-color: #dc0026; color: white;}
.bushido {color: #dc0026;} 

centrar {display: block; margin: auto;float: none;}
.line-narrow {margin: 30px 0;}

/*MARGIN XS*/
.allmargin-xs { margin: 15px !important; }

.leftmargin-xs { margin-left: 15px !important; }

.rightmargin-xs { margin-right: 15px !important; }

.topmargin-xs { margin-top: 15px !important; }

.bottommargin-xs { margin-bottom: 15px !important; }

.clear-bottommargin-xs { margin-bottom: -15px !important; }

/*Login*/
.new-user {font-size: 17px; margin: 10px 0 10px 0;}
.bg-login{background-image: url('../images/bg-login.jpg');background-size: cover; background-position: bottom center;height: 100%;}
.panel-body{padding: 30px;}
#dialog-sup {margin-bottom: 0 !important;}



/* FORMULARIO REGISTRO */
.select-label{line-height: 34px;}
.register-logo {position: absolute; left: 50%;margin-left: -110px;top: 10px;;z-index:1;}
.bg-register {background-image: url(../images/bg-login.jpg);padding-top: 120px !important;background-attachment: fixed; background-position: bottom center; background-repeat: no-repeat;}
.progress-bar_text {  display: inline-block;  margin: 10px 0 0 5px;  transition: .2s; }
#eye, #eyeconfirm{float: right;cursor: pointer;}


/*Top Menu*/
.sub-menu ul li:hover a{border-top: none;}
#logo {cursor: pointer; }

/* TOP BAR MENU */


#top-bar{
    background-color: #444;
    color:#fff;
    border-bottom: none !important;
}



.top-user, .close-sesion, .close-sesion a, .close-sesion span, .top-user a, .top-user span, .b2b {float: right;}
.top-user > a >i {color: #dc0026; height: 24px;line-height: 44px; }

.top-user, .close-sesion, .b2b {
    
    line-height: 44px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 44px;
}

.top-user a, .close-sesion a{
    -webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
}
    /* Cerrar sesión */
    .close-sesion a{padding: 0 10px; width: 45px; height: 45px; box-sizing: border-box;}
    .close-text{ display: none;padding-right: 5px;padding-left: 10px;line-height:45px;}
    
    .close-sesion a:hover{background-color: #dc0026;width: auto;}
    .close-sesion a:hover .close-text{
        display: block;
        color: #fff;
    }
    .close-sesion a:hover .close-icon{color: #ffffff;}
    .close-sesion a i{margin-top: 10px;}
    
    /* Top user */
    .top-user a{ padding: 0 10px; width: 45px; height: 44px; box-sizing: border-box;}
    .user-text{ display: none;padding-right: 5px;padding-left: 10px;padding-top: 0px;padding-bottom: 0px;}
    
    .top-user a:hover{background-color: #dc0026;width: auto;padding: 0 10px;height: 45px;margin-top: 0px;}
    .top-user a:hover .user-text{
        display: block;
        color: #fff;
    }
    .top-user a:hover .user-icon{color: #ffffff;}
    
    /* B2B */
    .b2b a{padding: 0 10px;display: block; height: 44px; width: 51px; box-sizing: border-box; background-image: url(../images/b2b-icon.png); background-position: center center; background-repeat: no-repeat;}
    .b2b a:hover{ background-image: url(../images/b2b-icon-hv.png); }
    .close-sesion a, .top-user a, .b2b a{border-left: 1px #fff solid;}
    
    #top-search i, #top-cart i {color: #9b9b9b;}

/* TOP CART */

.top-cart{ margin-right: 15px !important;}
.top-cart-item ul{list-style-type: none;}
#top-cart-ul{margin-bottom: 0px;}
#top-cart-ul li{padding:10px 0;border-bottom:1px #eee solid;}
#top-cart-ul li:last-child{border-bottom: none;}

    
    /** Estilos contador **/

#contador { 
    display: block;
    position: fixed;
    width: fit-content;
    padding: 0 20px 0 10px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    z-index: 190;
    background-color: black;
    color: white;
    right: 50px;
    font-family: 'Passion One', normal;
    letter-spacing: 1px;
    float: right;
    line-height: 63px;
}

#contador:before{
    content:"";
    background-image: url(../images/contador-before.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 84px;
    height: 65px;
    position: absolute;
    margin-left: -84px;
    z-index: -10;
}
#contador:after{
    content:"";
    background-image: url(../images/contador-after.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 65px;
    position: absolute;
    margin-right: -48px;
    z-index: -10;
}

.puntos_contador{
    font-size: 24px;
}

.contador1 {
top:40px;
}
.contador2 {
top: 148px;
}

#contador_mobile{
    font-family: 'Passion One';
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
    position: fixed;
    top: 0;
    height: 45px;
    color: white;
    text-align: left;
    z-index: 999;
    line-height: 45px;
    float: left;
    display: block;
    background-color: #dc0026;
    width: fit-content;
    padding: 0 15px;
}



#contador_mobile:after{
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #dc0026;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
    
}

/** fin estilos contador **/

/* SLIDER HOME */

.slider-caption p {margin-top: 10px;margin-bottom:20px;}

.galeria {padding-bottom: 50px;}
.promo a.button{position: relative; margin: 0;margin-left: 15px;}
.promo-dark span p{font-size:18px;color: #fff;}
.slider-arrow-left, .slider-arrow-right, .flex-prev, .flex-next, .slider-arrow-top-sm, .slider-arrow-bottom-sm {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    left: 0;
    margin-top: -26px;
    background-color: rgba(0,0,0,0.3);
    width: 52px;
    height: 52px;
    border: 0;
    border-radius: 0 3px 3px 0;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.slider-arrow-right i {
    margin-left: 10px;
}
.slider-arrow-right, .slider-element .owl-next, .flex-next {
    left: auto;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider-arrow-left i, .slider-arrow-right i, .flex-prev i, .flex-next i, .slider-arrow-top-sm i, .slider-arrow-bottom-sm i {
    line-height: 50px;
    width: 34px;
    height: 52px;
    color: #DDD;
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: 34px;
    text-align: center;
    margin-left: 7px;
}

#slider.sliderAdmin:before {content: none;}

/*Imagenes header*/
.header{font-family: 'yozakura_jpregular';background-size: cover; background-position: center;}
.catalogo_header {background-image: url('../images/cabeceras/header-catalogo.jpg');}
.trayectoria_header, .perfil_header, .estadisticas_header, .pedidos_header {background-image: url('../images/cabeceras/header-trayectoria.jpg');}
.viaje_header {background-image: url('../images/cabeceras/header-viaje.jpg');}
.marketing_header {background-image: url('../images/cabeceras/header-marketing.jpg');}
.programa_header {background-image: url('../images/cabeceras/header-programa.jpg');}
.contacto_header {background-image: url('../images/cabeceras/header-contacto.jpg')}
/*


.formacion_header {background-image: url('../images/slider-formacion.jpg'); background-size: cover;}
.estadisticas_header {background-image: url('../images/slider-estadisticas.jpg'); background-size: cover; background-position: center;}
.perfil_header {background-image: url('../images/slider-perfil.jpg'); background-size: cover; background-position: center;}
.admin_header {background-image: url('../images/slider-admin.jpg'); background-size: cover; background-position: center;}
.usuarios_header {background-image: url('../images/slider-usuarios.jpg'); background-size: cover; background-position: center;}
.campanas_header {background-image: url('../images/slider-campanas.jpg'); background-size: cover; background-position: center;}
.carrito_header {background-image: url('../images/header-carrito.jpg'); background-size: cover; background-position: center;}
.pedidos-taller {background-image: url('../images/slider-gestion-pedidos.jpg');background-size: cover; background-position: center;}
*/

/* BACKGROUND */
.catalogo {background-image: url('../images/bg-catalogo.jpg');background-size: 100% auto; background-repeat: no-repeat; background-position: bottom left; }

/*Cart*/
.tramit_step1 {margin-bottom: 5%;}
.no_items {border: 3px dotted #dc0026; padding: 2%; font-weight: bold; font-size: 16px;}
.no_items>i {color: #dc0026; font-size: 30px;}
.no_item_disabled {cursor: not-allowed !important; background-color: grey !important; opacity: 0.65; box-shadow: none;}
.no_item_disabled:hover {background-color: grey !important;}
#primary-menu ul #catalogo_menu:hover > a {border-top: none;}
.menu_white { background: white !important;}
.cart-product-name span{margin-left: 15px;color:lightslategrey;}
.cart_item {
    border-bottom: 1px solid lightgrey;
    border-top: none;
}
.qty-resume {background-color: #fff !important; border: none !important;}


.cart-product-quantity .quantityCart {
	display: inline-block;
	margin: 0;
	float: none;
}

.content-cart{margin-top:-1px;}

.cart-product-name a:hover {color:#dc0026;}

#processTabsMobile .process-steps li a {
    display: block;
    background-size: contain; 
}

/** Process steps desktop **/

.process-steps li a {
    position: relative;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#processTabs .process-steps li a#carrito{background-image: url('../images/cart/iconos-process-carrito-01-dark.png')}
#processTabs .process-steps li.active a#carrito{background-image: url('../images/cart/iconos-process-carrito-01-light.png')}

#processTabs .process-steps li a#envio{background-image: url('../images/cart/iconos-process-carrito-02-dark.png')}
#processTabs .process-steps li.active a#envio{background-image: url('../images/cart/iconos-process-carrito-02-light.png')}

#processTabs .process-steps li a#pago{background-image: url('../images/cart/iconos-process-carrito-03-dark.png')}
#processTabs .process-steps li.active a#pago{background-image: url('../images/cart/iconos-process-carrito-03-light.png')}

#processTabs .process-steps li a#pedido{background-image: url('../images/cart/iconos-process-carrito-04-dark.png')}
#processTabs .process-steps li.active a#pedido{background-image: url('../images/cart/iconos-process-carrito-04-light.png')}

/** Process steps mobile **/
#processTabsMobile{
    margin-bottom: -30px;
}

#processTabsMobile .process-steps li{
    width: 25%;
    background-color: #444;
    margin-top: -1px; 
    padding: 20px 0;
}

#processTabsMobile .process-steps li h5{
    color: #fff;
}

#processTabsMobile .process-steps li{
    border-bottom: 3px solid #444;
}


#processTabsMobile .process-steps li.active{
    border-bottom: 3px solid #dc0026;
}


#processTabsMobile .process-steps li.active h5{
    color: #dc0026;
}

#processTabsMobile .process-steps li.active {
    color: #dc0026;
}

#processTabsMobile .process-steps li a {
    display: block;
    width: 60px;
    height: 60px;
    background-size: contain; 
}



#processTabsMobile .process-steps li a#carrito{background-image: url('../images/cart/iconos-process-carrito-01.png')}
#processTabsMobile .process-steps li.active a#carrito{background-image: url('../images/cart/iconos-process-carrito-01-active.png')}

#processTabsMobile .process-steps li a#envio{background-image: url('../images/cart/iconos-process-carrito-02.png')}
#processTabsMobile .process-steps li.active a#envio{background-image: url('../images/cart/iconos-process-carrito-02-active.png')}

#processTabsMobile .process-steps li a#pago{background-image: url('../images/cart/iconos-process-carrito-03.png')}
#processTabsMobile .process-steps li.active a#pago{background-image: url('../images/cart/iconos-process-carrito-03-active.png')}

#processTabsMobile .process-steps li a#pedido{background-image: url('../images/cart/iconos-process-carrito-04.png')}
#processTabsMobile .process-steps li.active a#pedido{background-image: url('../images/cart/iconos-process-carrito-04-active.png')}

#processTabsMobile .process-steps li.active a, #processTabsMobile .process-steps li.ui-tabs-active a {
    background-color: transparent !important;
    color: #dc0026;
}
.cartMobile {max-width: 600px;}
.cartMobile .amount {font-weight: bold;font-size: 13px;color: #333;}
.cartMobile > tbody > tr > td {padding: 8px 4px;white-space:normal !important;}
.cartMobile tr:first-child {border-top: 2px solid lightgrey;}
.cartMobile tr:last-child {border-bottom: 2px solid lightgrey;}


/***  CATALOGOS MARKETING  ***/

.left-icon i, .right-icon i {line-height: 40px;}

/*Footer*/
.footer-icons {
    color: rgba(255,255,255,0.2);
    margin: 4%;
    font-size: 18px !important;
}

.imagen-footer{background-image: url(../images/img-footer.png); background-repeat: no-repeat; background-position: right bottom;}
#footer {margin-top: 0 !important; font-size: 14px;}

.facturas_modal {width:500px; height:700px;}

adress {margin-bottom: 20px;}

 
/*Slider*/
#slider-home-res {margin-top: -100px;}
#slider{position: relative;}
#slider:before {content:url(../images/separator-wh.png);position: absolute; width: 100%; bottom: 0;margin-bottom: -10px; z-index:9;}
#testimonial-taller {color: #fff; }
/*404*/
.seach_error {background-color: rgba(255,258,255,0.9) !important;}



/**********USUARIO TALLER*********/

/*Top menu user*/
.contador_user_1 {top: 60px;}
.contador_user_2 {top: 145px;}

/********* Home *********/


.samurai-home{margin-top: -20px;}
.buscador p {font-size: 14px; }
.buscador > form > select{
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   border: 2px solid #eee;
   background-color: #fff;
   border-radius: 0;
   height: 40px;
   line-height: 40px;
   padding-left: 5px;
   width: 30%;
   margin-right: 10px;
   background-image: url(../images/flecha-select.jpg);
   background-position: right;
   background-repeat: no-repeat;
   font-family: 'Passion One';
   font-size: 16px;
   box-sizing: border-box;
}

.buscador > form > select:last-child{margin-right: 0px;}
.buscador > form > input[type=submit], .btn-trayectoria {
border: none; 
background-image: url(../images/btn-buscar.png); 
background-position: top center; 
background-repeat: no-repeat; 
width: 140px; height: 75px; 
line-height: 65px; color: #fff; 
font-family: 'Passion One', cursive; 
font-size: 18px;  text-transform: uppercase;
margin-top: 20px;
background-color: transparent;
}
.buscador > form > input[type=submit]:hover, .btn-trayectoria:hover {background-image: url(../images/btn-buscar-hv.png);line-height: 75px;color: #fff;}

/*POP UP ELECCIÓN REGALO*/
#yearSelect{padding-left: 15px;margin-bottom: 15px;}
form#aceptar-viaje button{margin-bottom: 30px;}

/*  GALERÍA PRODUCTOS HOME  */
.fondo-productos {background-image: url(../images/bg-productos-home.jpg); background-position: bottom center; background-repeat: no-repeat; background-size: 100%;}
.galeria > div > a {margin-bottom: 0;}
.precio-home {font-size: 22px; color: #000; font-family: 'Roboto Condensed', sans-serif; margin-bottom: 10px;font-weight: 700;}
.precio-home ins{color:#ffffff;text-decoration: none;}

.producto .product-image {background-color: #fff;border: 3px solid #eee; border-bottom: none; box-sizing:border-box; }
.product-data {background-color: #dc0026;}
.product-data > a > h4 {font-family: 'Roboto Condensed'; font-weight: 400; margin-top: 10px !important; margin-bottom:10px !important; color:#fff;height: 50px; overflow: hidden; }
.precio-home > i {color:#fff; margin-right: 10px;}
.line-custom {width: 7%;
    margin: 2% 0;
    border-top: 3px solid #dc0026;
}

/* VIAJE HOME */
.promoImg img{position: absolute; top: 0; left: 0;}


/* TRAYECTORIA */
.trayectoria-home:before {content:url(../images/separator-wh.png);position: absolute; width: 100%; height: auto; margin-top: -100px; z-index:9;}
.bg-trayectoria {z-index: 10; background-image: url(../images/bg-trayectoria.jpg);background-position: bottom center; background-repeat: no-repeat; background-size: 100% auto; }
.btn-trayectoria {display: block; margin: auto;}
.steps {float: left; width: 14%;}
.steps span {font-family: 'Passion One'; text-align: center; width: 100%; display: block; font-size: 22px; }
.steps .km {font-size: 18px; } 

.icon-cursos {color: #dc0026; margin-right: 2%;}
.txt-cursos {margin-bottom: 2%;}
.swiper_wrapper {height: 500px;}
.cover{background-size: cover !important; background-repeat: no-repeat; background-position: bottom !important;}
.promo.promo-dark h3{letter-spacing: 2px; font-family: 'Passion One', cursive;}
.virtudes {color: #dc0026; font-size: 24px; }


/*TESTIMONIO HOME*/

.testi-meta {font-family: 'Passion One'; text-transform: none; letter-spacing: 1px;}
#testimonial-taller{background-image: url(../images/bg-testimonio.jpg);}
.testimonial{background-color: transparent !important;border: none !important; box-shadow: none !important;}

/**********************
Catálogo
***********************/

/*SIDEBAR*/

.header h1{font-family: 'yozakura_jpregular';text-transform: none !important;font-size: 50px !important;}
.nav-tree{font-family: 'Lato';}
.nav-tree li a{padding: 10px 12px;}
.widget_links li {padding: 4px 0;}
.widget_links ul ul{margin-left: 0px;}
.widget_links ul ul li, .widget_links ul ul li a {background-color: #EEE;}
.widget_links ul ul li a {padding-right: 7px;}
.iconlist > li > i {color:#dc0026;}

/*BANNER PROMOCIÓN*/

#bannerPromocion { border: 1px solid #eee;}

/*GRID PRODUCTOS*/

.item-quick-view {background-color: black !important;}
.item-quick-view > span , .item-quick-view > i {color: white;}
.side-submenu-catalogo a:before {content: "\f101";font-weight: 900;font-family: "Font Awesome 5 Free";margin-right: 10px;color: #dc0026;}
.side-submenu-catalogo.active a {font-weight: 900;color: #333 !important; }
.icon-shopping-cart:before {font-size:20px;}
.product-price{font-family: 'Passion One', 'normal'; letter-spacing: 2px;font-size: 24px;}
.product-price del:after, .product-price ins:after{content: "Km";}
.catalogo-completo {border-top:none !important;}
#primary-menu > ul > #catalogo_menu li:hover a{border-top:none !important;}
#catalogo_menu_in {top:44px !important;}
.product-image-catalog {height: 350px !important;overflow: hidden;}
.product-image-catalog > a {height: 350px;line-height: 350px; background-position: center center;background-size: contain; background-repeat: no-repeat;}
.product-title {height: 88px;text-align: left;}
.product-price {border-bottom: 1px dotted #000;}
.product-price-modal {border-bottom: none;}
.product-title-single {height: auto !important;}
.migapan {margin-bottom: -80px;margin-top: 10px;}
.migapan li {list-style-type: none;float: left;}
.migapan li:after {content: "  >  ";}
.migapan li:last-child:after {content: "";}
#catalogoMenuLat.widget_links li a{background-image: none;}

/* Filtros mobile */
.select2-container--default .select2-selection--single{border-radius: 0px !important;}
.select2-container .select2-selection--single{height: 38px !important;background-image: url(../images/flecha-select.jpg);background-position: right center; background-repeat: no-repeat;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 38px !important;}
.select2-selection__arrow{display: none;}

/* Product overlay */
.product-overlay a{border-bottom: 1px solid rgba(0,0,0,0.1);border-right: none;}
.add-to-cart {background-color: #dc0026 !important;cursor: pointer;height: 44px;border-right: 1px solid #444 !important;color: #fff !important; }
.add-to-cart span {line-height: 42px;}
.add-to-cart:hover{color:#444 !important;}
.add-to-cart-disabled {cursor: not-allowed !important;border-right: 1px solid #444 !important;}
.add-to-cart-disabled:hover {color:#fff !important;}
.alert {font-size: 16px;}
.producto-modal{position: relative;
	background-color: #FFF;
	width: 800px;
	margin: 0 auto;
        padding: 0 !important;
}
button.close {
    padding: 10px;
}
.catalogo-completo {float: left !important;}

.product-modal-title {
	background-color: #F9F9F9;
	border-bottom: 1px solid #EEE;
	padding: 25px 40px;
}

.product-modal-title > h2 {
	font-size: 26px;
	margin-bottom: 0;
}

.product-price-single {border-bottom: none;}
.nav-tree li a i.icon-angle-down {float: right;}

.product-overlay a .icon-shopping-cart{
    font-size:14px !important;
}

/*Catálogo Single*/

/*TALLA*/
.talla > div > input[type="button"] {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px; 
}

.talla > div > input[type="button"]:hover {
    border: 1px solid #dc0026;
    background-color: #dc0026;
    color: #fff;
}

.talla > div{
    width:90px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}

.size-item{
    height: 50px;
}

.quantity-size {
    
    border-bottom: 1px solid lightgrey;
    
}

.size-minus, .size-plus {
    -webkit-appearance: none !important;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    color: #444;
    border: none;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.size-minus {
    float: left;
}

.size-plus {
    float: right;
}

.quantity-size .qty {
    width: 38px;
    text-align: center;
    border:none;
    line-height: 25px;
    height: 25px;
}

.size-minus:hover, .size-plus:hover {
    background-color: #EEE;
}

.talla>p, .color_>p {margin-bottom: 10px;}

.talla {margin-bottom: -10px;}

.activo {    
    border: 1px solid #dc0026 !important;
    background-color: #dc0026;
    color: #fff;
}

/*  VIAJE  */
.condicionesViaje ul{
    list-style-type: none;
}

.condicionesViaje ul li:before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

/*COLOR*/
.color_ {margin-bottom: 20px;}

.color_> input {
    -webkit-appearance: none !important;
    display: block;
     
}

.color-item{
    
    height: 25px; 
    width: 25px; 
    margin-right: 10px; 
    
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-item input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid lightgrey;
    border-radius: 15%;
}

.color-item:hover input {
    background-color: #000;
    opacity: 0.5;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.color-item input:checked ~ .checkmark:after {
    display: block;
}


.color-item .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* PROGRAMA */

.sidebar .widget_links li a:hover, .sidebar .widget_links li a.active{color:#dc0026;}

/** LEGALES **/
.datos-fiscales p {margin: 0;}
.legal h2 {margin-top: 30px;}

#myModal1{-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);background-color: #dc0026;}
.form-legales h3 {color: #444; margin-top: 10px; text-align: center; letter-spacing: 1px;margin-bottom: 20px; }
.form-legales label{color: #fff;}
.form-legales p {margin: 10px 0}
.form-legales .button-dark:hover{background-color: #fff;}
.close_modal_legales {float: right;padding: 5px;}
.mfp-content {width: auto !important;}

/* CONTACTO */

.bg-contacto {background-image: url('../images/bg-contacto.jpg');background-position: bottom right; background-repeat: no-repeat; background-size: 80% auto; }
#dir-sidebar {padding: 15px;background-color: #444; color: #eee;-webkit-border-radius: 3px;border-radius: 3px;}

/*Promociones activas*/
.activas > tbody > tr > td {vertical-align: middle;}
.click > button {background: transparent;
    margin: 0;
    vertical-align: middle;
    padding-top: 2%;}
.click > button > i { color: #dc0026; }
.click > button:hover {background: transparent;}
.click > button > i:hover { color: black; }
.click a{display:block;width:100%;}

.aprobada {
    color: #e0f1d9;
    vertical-align: middle;
}

.pendiente {
    color: #fbf9e4;
    vertical-align: middle;
}

.novalid {
    color: #f0dede;
    vertical-align: middle;
}

/*Facturas*/
.file_up {margin-left: 1%;}
.file_up > div > p {margin-bottom: 15px;}
.subir_button {margin-top: 16%;}
.icono_facturas {font-size: 30px;}

/*Estadísticas*/
td {vertical-align: middle !important;}
.check_estads {padding: 0 41px !important; 
    top: 6px;}
.info_estadisticas {border: 2px solid #dc0026;}
.leyenda_estadisticas {margin-bottom: 0; padding: 1%;}
.trayectoria {width: 100%;position: relative;}
.trayectoria:after {width: 100%; height: 50px; background-color: #333;}
.fondo-trayectoria {width: 100%; height: auto;}
#pieChartCanvas, #pieChartCanvas2, #pieChartCanvas3 {display: block;margin: auto;}
#pieChart h3, #pieChart2 h3, #pieChart3 h3 {height: 52px;}

/*Mi perfil*/

#user-name{
    text-transform:none !important ;
}
.style-msg .close{top: 4px;}
#avatarImg.img-thumbnail {
    width: 220px;
    height: 220px;
    background-size: cover;
    background-position: center center;
}
.dirent li:not(:last-child) {
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#dirFacturacion{max-height: 412px;overflow-y: scroll;}
#dirFacturacion .acctitlec{background-color: rgba(220,0,38,0.2);}
#dirFacturacion .acctitle i{left: 8px;}
#dirFacturacion .acctitle, #dirFacturacion .acc_content {padding-left: 25px;}
#dirFacturacion .acc_content{padding-top:15px;}
/* Pedidos */

.plus-table {line-height: inherit !important;}

/**********ADMIN*********/
#primary-menu ul li:hover > ul li a {color: #444 !important;}
#primary-menu ul li > ul li:hover a, #primary-menu ul li > ul li:hover a.current {border-top:none;color: #dc0026;}
#primary-menu ul li > ul li a.current {
    color:#444 ;border-top:none; background-color: #fff;
}

#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) ul li > ul li a {height:auto; }

/*Sliders*/
.add_admin {font-size: 45px !important;}
#admin_edit {margin-top: 8%;}
#admin_edit > div > ul { padding: 1%; border-bottom: 1px solid lightgrey; list-style: none;}
#admin_edit > div > ul > li {border-right: 1px solid lightgrey}
#edit_content {min-height: 300px; border: 1px solid lightgrey !important;}
.select_user > div {padding: 0;}


/*ESTADÍSTICAS*/
.modal-title-formacion {padding: 10px 0;font-family: 'crillee-boldregular';letter-spacing: 1px;}
.time-table {border-bottom: 1px solid #EEE;padding: 10px 0;}
.time-table:last-child {border-bottom: none}
.time-table span {border-right: solid 1px #EEE;}
.time-table td {padding: 10px 15px; }
.leyenda {display: block; margin: auto;width: fit-content;}
#leyend16, #leyend17, #leyend18, #leyend19 {float: left;}
.leyend16, .leyend17, .leyend18, .leyend19 {
    width: 30px;
    height: 15px;
    float: left;
    margin-right: 10px;
}
.leyenda div {margin-right: 10px;}
#leyend16 span, #leyend17 span, #leyend18 span, #leyend19 span{line-height: 15px}
#lineChart, #lineChart2 {margin-bottom: 20px;}

.graficas {position: relative;height:430px;}
#grafica1, #grafica2 {position: absolute; top: 50px; left: 0;-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;}
#grafica1 {opacity: 1;}
#grafica2 {opacity: 0;}
.tabs-admin li{
    display: block;
    float: left;
    padding: 0 15px;
    color: #444;
    height: 40px;
    line-height: 40px;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}
.tabs-admin li.active {
    color: #dc0026;
    background-color: #333;
    border-top: 5px solid #dc0026;
    height: 60px;
    margin-top: -20px;
    line-height: 60px;
    padding: 0 20px;
}

.tab-nav li {font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: bold;    font-size: 13px;    letter-spacing: 1px; color: #dc0026; -webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;-ms-transition: all 400ms ease-in-out;-o-transition: all 400ms ease-in-out;transition: all 400ms ease-in-out;}
.tabs.tabs-tb ul.tab-nav li.ui-tabs-active a{color: #dc0026;background-color: #333;    border-top: 5px solid #dc0026;    height: 60px;    top: -19px;    line-height: 60px;    padding: 0 20px;}

/*Campañas resume*/
.campanas_resume > li> a { background-color: #dc0026;
color: #fff;
padding: 14px 30px;
border-radius: 23px;
font-size: 16px;
}

.campanas_resume > li> a:hover { background-color: #fff;
color: #dc0026;
}

/*Campañas add*/
.button_edit {border-color: transparent;
    border-style: none;
    border-width: 0px;
    padding: 0;}

.colors_admin {height: 25px; border: 1px solid lightgrey;}
.colors_admin_container {min-height: 186px;}

/*Facturación*/

.upload-button {padding: 10px;}

/*Pedidos*/
.viaje_call {background-color: #dc0026;
margin-bottom: 0;
padding: 2%;
}

#travel_button:hover {background-color: white;
color:#dc0026;
}


/*USUARIOS ADMIN*/


/* The switch - the box around the slider */
.switch {
  position: relative;
  /*display: inline-block;*/
  width: 60px;
  height: 34px;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #dc0026;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

td.center > p {margin: 0px;line-height: 60px;}


/*Menú mobile*/
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a,  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li > ul >li:hover a{color: #dc0026;}





/**********USUARIO FINAL*********/

/* HOME */

#imagen-promociones{background-position: center center !important;}
#testimonial-user{background-image:url(../images/bg-testimonio_user.jpg);}
.promotion-title{margin-bottom: 10px;}
.promotion-name{margin-left: 5px;}
.promotion-time{font-family:'ContinentalStagSans-Medium', sans-serif;}
.promotion-desc{margin: 5px 0 5px 27px}
.enlace-promo{margin-left: 27px;}
.facturas_archivo {margin-top: 2%;}
.promotion-item{border-bottom: 1px dotted #ccc;padding: 10px 0;}




/**** POLITICA DE COOKIES *****/

#cookies-eu-banner {
    height: auto !important;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 1000;
    display: flex;
   justify-content: center;
   align-items: center;
}

#cookies-eu-banner div.divcenter{
    width: fit-content;
}
.cookiesContainer{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}

.cookiesContent{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
    background-color: #FFF; 
    max-width: 500px;
    padding: 30px;
    color:#444 !important;
}
.cookiesContent p{margin-bottom: 10px;}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #dc0026;
}
#cookiesf {
    height: auto !important;
    background-color: #333;
    opacity: 0.8;
}

#cookie_accept {
    background-color: transparent;
    padding: 20px !important;   
}

.closecok {    
    width: 30px;
    height: 30px;
    position: absolute;
    right: 11%;
    top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}

.closecok {font-size: 13px;}

#cookdesk {
	min-height: 0;
	margin-bottom: 0;
        font-size: 13px;
}

.cookie_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px){
.cookie_container {
    width: 1170px;
}
}
@media (min-width: 992px){
.cookie_container {
    width: 970px;
}
}
@media (min-width: 768px){
.cookie_container {
    width: 750px;
}
}
.cookie_container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*** END COOKIES ***/


/*** QUANTITY ***/

.quantityCart {
	
        box-sizing: border-box;
        display: block;
        margin:auto;
	/*margin-right: 30px;*/
}

.quantityCart .qty {
	float: left;
	width: 50px;
	height: 40px;
	line-height: 40px;
	border: 0;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	background-color: #EEE;
	text-align: center;
	margin-bottom: 0;
}

.quantityCart .plus,
.quantityCart .minus {
	display: block;
	float: left;
	cursor: pointer;
	border: 0px transparent;
	padding: 0;
	width: 36px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #EEE;
	font-size: 16px;
	font-weight: bold;
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
}

.quantityCart .plus:hover,
.quantityCart .minus:hover { background-color: #DDD; }

.quantityCart .qty:focus,
.quantityCart .plus:focus,
.quantityCart .minus:focus {
	box-shadow: none !important;
	outline: 0 !important;
}


/*** END QUANTITY***/
