/*Laptop*/
@media (min-width: 1025px) and (max-width: 1200px) {
    /**********TALLER*********/
    .swiper_wrapper {height: 350px;}
    #contador {z-index: 999;}
}

/*Laptop plus*/
@media (min-width: 1201px) and (max-width: 1368px) {
    .top-cart-content { z-index: 9999;}
}


@media (min-width: 1025px) and (max-width: 1200px) {
  
    .container {width: 90%;}
    #logo{margin-right: 20px;}
    #logo img {height: 70px; margin-top: 15px; }
    
    #menu-bar, #top-bar > .container {    width: 95% !important;    max-width: 100%;    margin: auto;}
    #menu-bar > #primary-menu ul li > a {padding: 39px 10px;}
    #menu-bar > #primary-menu ul ul li > a {padding: 10px;}
}

/*iPad Horizontal*/
@media (min-width: 1021px) and ( max-width: 1025px) {
    /**********TALLER*********/
    .container {width: 90%;}
    #logo{margin-right: 20px !important;}
    #logo img {height: 70px !important; margin-top: 15px; }
    #logo {margin-right: 20px;}
    .product-overlay {bottom: 0;}
    
    #catalogo_menu_in {margin-top: 5% !important;}
    #contador {z-index: 100;}
    div#logo {margin-left: -20px;}
    i.material-icons.arrow_pdt {margin-left: -10px;}
    .imagen-footer {background-image: url(../images/img-footer-02.png);}
    #menu-bar, #top-bar > .container {    width: 95% !important;    max-width: 100%;    margin: auto;}
    #menu-bar > #primary-menu ul li > a {padding: 39px 10px;}
    #menu-bar > #primary-menu ul ul li > a {padding: 10px;}
    #catalogo_menu > a {padding: 0 14px !important;}
    #catalogo_menu > a {padding: 8px 10px !important; line-height: 1  !important;}
    .postcontent {width: 74% !important;}
    .sidebar {width: 22% !important;}
}

@media (min-width: 991px) and (max-width: 1021px) {
    #menu-bar, #top-bar > .container {    width: 95% !important;    max-width: 100%;    margin: auto;}
    #menu-bar > #primary-menu ul li > a {padding: 39px 10px;}
    #menu-bar > #primary-menu ul ul li > a {padding: 10px 10px; }
    #logo img {    height: 70px;    margin-top: 15px;}
}


@media (min-width: 923px) and (max-width: 991px) {
    #imagen-cursos {display: none;}
    .imagen-footer {background-image: url('../images/img-footer-02.png') !important;}
    .buscador > form > input[type=submit] {float: right; margin-bottom: 20px; }
}

@media (min-width: 768px) and (max-width: 922px){
    #imagen-cursos {display: none;}
    .imagen-footer {background-image: none;}
    }

/*iPad*/
@media (min-width: 671px) and ( max-width: 1020px) {
    /**********TALLER*********/
    .contador_user_2 {top: 150px; }
    .contador-before{top:102px}
    .contador_user_1 {top: 0px;}
    #contador {z-index: 100;}
    div#page-menu-wrap {z-index: 8;}
    .contador_user_1 {top: 60px;}
    #admin_edit {margin-top: 12%;}
    .product-overlay {bottom: 0;}
    show nav#primary-menu {min-height: 350px; width: 100%; }
    ul.sf-js-enabled.show {min-height: 350px;}
    .file_ups {margin-top: -3%;}
    #logo {    margin-right: 20px;}
        /** MENÚ **/
        #primary-menu .style-2{display: none;}
        .mobile-primary-menu{display: block;}
        #primary-menu ul > li > a.current, #primary-menu ul > li > a.current > div {background-color: #fff;border-top: none;color: #444;}
        #primary-menu ul li > a div{padding-top: 0px;}
        #primary-menu ul li:hover > a { background-color: transparent; border-top: none; box-sizing: border-box;  }
        #primary-menu ul > li:hover > a div {color: #ffa500 ;padding-top: 0px;}
        #primary-menu > ul > li.sub-menu > a > div { }
        #clientes_menu .clientes_in ul li a {color: #333 !important;}
        #clientes_menu .clientes_in li:hover a {border-top: none !important; height:47px; color: #ffa500;}
        #clientes_menu .clientes_in li:hover a div {line-height: 44px; margin-top: -10px;}
     .imagen-footer {background-image: url(../images/img-footer-02.png);}
     
}

/*Mobile Horizontal*/

@media (min-width: 480px) and (max-width: 767px) {
    /**********TOP BAR*********/
    #top-bar{background-color: #444;}
    .close-sesion a:hover{width: 45px;}
    .close-sesion a:hover .close-text{
        display: none;
    }
    .top-user a:hover .user-text{
        display: none;
    }
    #header-wrap{margin-top: 45px;}
    #contador{display: none;}
    .imagen-footer {background-image: none;}
    .talla {margin-bottom: -20px !important}
    .process-steps li {float: left !important; margin-top: 0px; width: 25% !important;}
    .buscador > form > select {width: 100%;}
}



/*Mobile*/
@media (min-width: 320px) and (max-width: 670px) {
     /**********LOGIN*********/ 
    #login_form {padding: 0px !important;}
    #titinfo {line-height: 25px;padding: 10px 30px 10px 40px;}
    .close-sesion{width: fit-content !important;}
    #top-bar{background-color: #444;}
    .close-sesion a:hover{width: 45px;}
    .close-sesion a:hover .close-text{
        display: none;
    }
    .top-user a:hover{width: 45px;}
    .top-user a:hover .user-text{
        display: none;
    }
    #header-wrap{margin-top: 45px;}
    .buscador > form > select {width: 100%;margin-bottom: 10px;}
    .galeria {width: 90%;margin: auto;}
    .buscador > form > input[type=submit]{display: block; margin: auto; }
    /**********TALLER*********/
        #contador {display: none;}
        .widget_links li {list-style: none;}
        p#contador_mobile { padding: 4%;}
        .div_counter{
            top: 0;
            width: 100%;
            height: 50px;
            background-color: black;
            color: white;
            text-align: center;
            z-index: 999;
            }
        .col_full.viaje_call.center {margin-bottom: 0 !important;}
        .viaje_call  {padding: 7%;}
        .line-custom {width: 30%;margin: 10% 0;}
        h3 {margin: 0 ;}
        #top-cart {display: block !important;}
        .promos_datos_mb {margin: 0;}
        .modal-dialog.promos_datos_mb {min-width: 998px;}
        .formulario_contacto {margin-top: 15%;}        
        div#top-cart { right: 10px;}
        .talla>p, .color_>p {margin-bottom: 10px;}
        
            /** CARRITO **/
            .process-steps li {float: left !important; margin-top: 0px !important; width: 25% !important;}x
            .process-steps li.active a, .process-steps li.ui-tabs-active a {}
            .process-steps li {margin-top: 0px; padding-top: 20px;}
            #processTabsMobile .process-steps li a {display: block;width: 40px;height: 40px;}

            
        /**********ADMIN*********/
        .content-wrap {padding: 30px 0;}
        .admin_edit_mb >li {padding: 5% 0;}
        .back {right: 3%;}
        .next > a {margin-top: 5%;}
        .homes {margin-top: 10%;}
        #pedidos_table_next > a {margin-top: 0;}
        .back_pedidos {float: right !important;}

            /**********USUARIO FINAL*********/
        .facturas_archivo {margin-top: 12%;}
        .number_mob {margin-bottom: 9%;}
        div#tab {margin-left: -30px;
            margin-right: -30px;}
        .facturas_modal {width:300px; height:500px;}
        li#promociones_user_next > a {margin-top: 0;}
        #estadisticas_table_next > a {margin-top: 0;}
        #campas-activas_next > a {margin-top: 0;}
        #historico-campanas_next > a {margin-top: 0;}
        .modal-dialog {margin: 0}
        .modal-dialog.promos_datos_mb {min-width: 350px;}
        .responsive-sticky-header #primary-menu > u {max-height: 600px;}
        .shop-quick-view-ajax {max-height: 600px;
            overflow: scroll;}
        .product-overlay {bottom: 0;}
        .clientes_in_ { color: white;}
        /*Shop*/
        .product-title {height: 40px;}
        .talla {margin-bottom: -20px !important}
        
        /*Bases Legales*/
        .form-legales {width: 100%;}
        .form-legales label {margin-left: 0;}
        
        /****************GENERAL***************/
        /*Shop single*/
        .talla >div {margin-right: 2%;}
        .color_> div {height: 30px; width: 30px; margin-right: 2%; border-radius: 15%;}
        
        #gotoTop {right:15px;}
        
        
        #top-cart.top-cart-open .top-cart-content {margin-top:-2px;}
        #shop {margin: auto !important;}
        .imagen-footer {background-image: none;}
        
        .footer-widgets-wrap {text-align: center;}
        .footer-logo {margin: auto;}

}

@media (min-width: 375px) and (max-width: 480px){
    .shop {width: 90%; }
    
    
}
@media (max-width: 374px){
    .quantitySingle{margin-bottom: 15px;}
    .single_product_add {float: left !important; }
}


@media (max-width: 767px) and (min-width: 480px){
    .swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide{
        height: 420px !important;
    }
    .slider-caption p, .slider-caption .button{
        display:block !important;
    }
    .slider-caption.slider-caption-center{margin-top: -50px;}
    .slider-caption .button{
        width: fit-content;
        margin: auto;
    }
    .promoText, .promoImg, .promoImg img{position: relative; float: none;}
    .promoImg img{margin-bottom: -60px;margin-top: 20px;}
}

@media (max-width:767px ) and (min-width: 670px){
    .buscador > form > select {
    width: 100%;
    margin-bottom: 10px;
    }
    
    .buscador > form > input[type=submit] {display: block;margin: auto;}
}
